html,
body
{
  background-color: #111;
  box-sizing: border-box;
  color: #eee;
  font-size: 1.3em;
  min-height: 100%;
  overflow-x: hidden;
  text-align: center;
  width: 100%;
}

body
{
  padding: 3vh 0;
}

div:first-child
{
  margin-bottom: 2vh;
}

p
{
  box-sizing: border-box;
  margin-bottom: 1vh;
  padding: 0.3% 20%;
  width: 100%;
  word-break: break-all;
}

p:nth-child(2n-1)
{
  background-color: #222;
}

#choix
{
  border-bottom: solid 1px #fff;
  margin: 0 0.5vw;
  padding: 0 0.5vw;
}
